html, body {
    font-family: sans-serif;
}
body {
    // height: 5000px;
    margin: 15px;
    font-size: 1.1rem;
    background-color: rgb(228, 228, 228);
}


input[type="number"] {
    width: 50px;
}

.textarea-5 {
    width: 250px;
    height: 100px;
}

.parent-input-history {
    button {
        padding: 0;
        width: 15px;
        height: 15px;
        border: none;
        background: none;
        cursor: pointer;
        transform: translateY(-4px);

        &:last-child {
            border-top: 12px solid transparent;
            border-left: 24px solid #777777;
            border-bottom: 12px solid transparent;
        }
        &:first-child {
            border-top: 12px solid transparent;
            border-right: 24px solid #777777;
            border-bottom: 12px solid transparent;
        }
        &:focus {
            outline: none;
        }
    }
}